<!doctype html>
<html>
<head> 
    <title>B A R A T I N H O - {{titulo}}</title>
    <div id="home">
        <a href={{url_for("index")}}>Página Inicial</a>
    </div>
</head>
<body>
    <h1>Anúncio adicionado aos seus Favoritos</h1>
    <div>
        (Abaixo serão exibidos os anúncios adicinados como favoritos)
    </div>
    <table border="1">
        <tr>
            <td>Camiseta Capitão América G - várias cores</td>
            <td>R$ 65,00</td>
            <td>Roupas</td>
        </tr>
        <tr>
            <td>Ford Fiesta 2021 branco impecável</td>
            <td>R$ 35.000,00</td>
            <td>Veículos</td>
        </tr>
    <div>
        <br>
        <p>Copyright © 2022</p>
    </div>
</footer>
</html>