<!doctype html>
<html>
<head> 
    <title>B A R A T I N H O - {{titulo}}</title>
    <div id="home">
        <a href={{url_for("index")}}>Página Inicial</a>
    </div>
</head>
<body>
    <div>
        <p>Aqui serão exibidas as informaçãos do usuário LOGADO para edição</p>
    </div>
    <br>
    <br>
    <div> (A partir deste ponto serão mostrados os anúncios FAVORITOS do usuário. Abaixo, exemplos.)
        <table border="1">
            <tr>
                <td>Camiseta Capitão América G - várias cores</td>
                <td>R$ 65,00</td>
                <td>Roupas</td>
            </tr>
            <tr>
                <td>Ford Fiesta 2021 branco impecável</td>
                <td>R$ 35.000,00</td>
                <td>Veículos</td>
            </tr>
    </div> 
    <br>
    <br> 
</body>
</html>